<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat Code Coverage">
                <Configuration>
                    <Format>cobertura</Format>
                    <ExcludeByFile>
                      **/MicrosLabel.Api.Program.cs,
                      **/MicrosLabel.Infrastructure/*,
                      **/MicrosLabel.Application/Properties/*
                      **/MicrosLabel.Domain/Properties/*
                    </ExcludeByFile>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>